* {
    margin:0px;
    padding: 0px;
    font-family: 'sans-serif';
}
body{
    background-image: url(breast.jpg);
    background-repeat: no-repeat;
}

#header {
    height: 100vh; 
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

h1 {
    font-size: 40px;
    margin-left: 18px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin-left: 18px;    
}

.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
    margin-left: 18px;
}

p {
    font-size: 18px;
    line-height :18px;
    color: black;
    margin-left: 18px;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.l-1 {
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}

.l-2 {
    width: 80px;
    height: 1px;
    background: #f67c92;
    display : inline-block;
}

.l-3 {
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}

.line {
line-height: 8px;
margin-left: 18px;
}

#si-Nav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top : 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color :#fff;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
    border-radius: 3px;
}

#about {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
    height: 300px;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 20px;
    display: inline-block;
    color : #f67c92;
}

.about-text h2{
    margin: 50px 0px 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3 {
font-size: 20px;
font-style: italic;
color: #797979;
}

#numbers {
 padding: 100px 0;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

div img {
    width: 450px;
    height: 450px;
    margin-left: 20px;

}

.left-column{
    flex-basis: 50%;
    text-align: left;
}

.right-column{
    flex-basis: 50%;
}

.numbers-text{
    max-width: 350px;
    margin-left: 18px;
}

.numbers-text h1 {
    color: #f67c92;
}
.numbers-text button{
    margin: 18px 0px;
}

.contact-row{
    display: left;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left, .contact-right{
    flex-basis: 50%;
}

.contact-right img{
    width: 45%;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 45px;
    border: 1px solid #f67c92;
    float: right;
}

.contact-right{
    width: 100%;
}

form{
    max-width: 350px;
    margin: 30px 0px;
}

form input {
    width: 100%;
    padding: 13px 10px;
    margin-bottom: 5px;
    margin-left: 18px;
    outline : none; 
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}

.btn-box {
    width: 100%;
    display : flex;
    justify-content: space-between;
}

.btn-box button{
    flex-basis: 48%;
    padding: 18px 0px;
}

.red{
    color: #f67c92;
    padding-top: 10px;
}

#footer{
    padding: 50px 0 30px
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
flex-basis: 50%;
margin-top: 60px;
}

.footer-right {
    flex-basis: 35%;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 {
    color: #fab3c4;
    margin-bottom: 20px;
    font-size: 25px;
}

.link-title small{
    font-size: 20px;
    color: #777
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 60px;
    height: 60px;
}

.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

.copyright, .footer-logo{
    flex-basis: 40%;
}
